      body {
        padding-top: 50px;
        padding-bottom: 20px;
        /*background-color: #000;*/
      }

      p, img {
        max-width: 100%;
        font-family: 'Duru Sans';
      }
      /* Custom container */
      .container {
        margin: 0 auto;
        max-width: 1000px;
      }

      .container > hr {
        margin: 20px 0;
      }
      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 20px 0;
        text-align: center;
        background-color: #fff;
      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }
    
    /* Responsive design */
    
    @media (max-width: 480px) {
      .container {
        margin: 0 auto;
        max-width: 350px;
        padding: 0 10px;
      }
    }
    @media (max-width: 767px) {
      .container {
        margin: 0 auto;
        max-width: 650px;
      }
    }