---
layout: default
title: Home
---

<!-- START THE FEATURETTES -->

<div class="row featurette">
<div class="col-md-7">
  <h2 class="featurette-heading">DATA.BLOG <span class="text-muted"> </span></h2>
  <p class="lead">Greetings, I’m an undergraduate student at School of Software, Beijing Institute of Technology.</p>
</div>
<div class="col-md-5">
  <img class="featurette-image img-responsive center-block" src="http://ww4.sinaimg.cn/large/0066Db0Pjw1etwul0d46yj30u00u0tio.jpg" alt="Generic placeholder image">
</div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
<div class="col-md-7 col-md-push-5">
  <h2 class="featurette-heading">UCAS <span class="text-muted">See for yourself.</span></h2>
  <p class="lead">Greetings, I’m an undergraduate student at School of Software, Beijing Institute of Technology.</p>
</div>
<div class="col-md-5 col-md-pull-7">
  <img class="featurette-image img-responsive center-block" src="http://ww1.sinaimg.cn/mw690/0066Db0Pjw1etwul7la96j30u00u049i.jpg" alt="Generic placeholder image">
</div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
<div class="col-md-7">
  <h2 class="featurette-heading">ISCAS <span class="text-muted">Checkmate.</span></h2>
  <p class="lead">Greetings, I’m an undergraduate student at School of Software, Beijing Institute of Technology.</p>
</div>
<div class="col-md-5">
  <img class="featurette-image img-responsive center-block" src="http://ww3.sinaimg.cn/large/0066Db0Pgw1esfhv3y11sj30u00u0aej.jpg" alt="Generic placeholder image">
</div>
</div>

<!-- <hr class="featurette-divider"> -->

<!-- /END THE FEATURETTES -->

<!-- Example row of columns -->
<!-- <div class="row">
{% for post in site.posts limit: 4 %}
    <div class="col-xs-12 col-sm-12 col-md-3">
        <h4><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h4>
        <p><span class="glyphicon glyphicon-user"></span>{% if post.author != nil %}{{post.author}}{% else %}{{site.author}}{% endif %}</p>
        <p>{{ post.excerpt }}</p>
        <p><a class="btn btn-default" href="{{site.baseurl}}{{post.url}}">View details</a></p>
    </div>
{% endfor %}
</div> -->

