---
layout: default
title: Home
---

<div class="jumbotron">
    <img class="hidden-xs img-responsive" src="/album/face.png"><br />
    <a class="btn btn-large btn-success" href="/">My 2014 Summary</a>
</div>
<hr class="hidden-xs">

<!-- Example row of columns -->
<div class="row">
{% for post in site.posts limit: 4 %}
    <div class="col-xs-12 col-sm-12 col-md-3">
        <h2><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2>
        <p><span class="glyphicon glyphicon-user"></span>{% if post.author != nil %}{{post.author}}{% else %}{{site.author}}{% endif %}</p>
        <p>{{ post.excerpt }}</p>
        <p><a class="btn btn-default" href="{{site.baseurl}}{{post.url}}">View details</a></p>
    </div>
{% endfor %}
</div>

<p class="text-center"><a class="btn btn-large btn-default" href="{{site.baseurl}}/blog/">More Posts &#187;</a></p>
