<!-- start gitment comments snippet -->
{% if site.comments.gitment.repo %}
<script type="text/javascript">
  //   var url = "{{ site.url }}{{ page.url }}";
  var id = "{{ page.thread }}";

  var execCallback = function () {
    var gitment = new Gitalk({
      clientID: '{{ site.comments.gitment.oauth_id }}',
      clientSecret: '{{ site.comments.gitment.oauth_secret }}',
      owner: '{{ site.comments.gitment.owner }}',
      repo: '{{ site.comments.gitment.repo }}',
      admin: ['{{ site.comments.gitment.owner }}'],
      id: id,      // Ensure uniqueness and length less than 50
      distractionFreeMode: true  // Facebook-like distraction free mode
    })
    gitment.render('gitcomment-container');
  }

  var readyEexc = function () {
    var head = document.getElementsByTagName('head')[0];
    var link = document.createElement('link');
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = 'https://hijiangtao.github.io/assets/gitment.css';
    link.media = 'all';

    var script = document.createElement('script')
    script.setAttribute("type", "text/javascript")
    script.setAttribute("src", "https://hijiangtao.github.io/assets/js/gitment.browser.js");
    script.onreadystatechange = execCallback;
    script.onload = execCallback;


    head.appendChild(link);
    head.appendChild(script);
  };

  window.onload = readyEexc;
</script>
{% endif %}
<!-- end gitment comments snippet -->