---
layout: page
title: Blog Posts
---

<!-- Show all posts here -->
<div>
    {% for post in paginator.posts %}
    <article>

        <header>
            <h4><time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}&nbsp;&gt;&nbsp;</time><a href="{{site.baseurl}}{{post.url}}"><b>{{ post.title }} </b></a></h4>
	        <div class="entry">
                <text> <a href='http://www.shaonian.eu/'>{% if post.author %}{{post.author}}{% else %}{{site.author}}{% endif%}</a> wrote in CATEGORY {{ post.categories | categories_links }}.&nbsp;{% if post.excerpt %}{{ post.excerpt }}{% endif %} </text>
            </div> 
        </header>
    
    </article>
{% endfor %}
</div>

<br />

<div>
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <button type="button" class="btn btn-default" disabled="disabled">&lt;Previous</button>
        {% else %}
        <button class='btn btn-info' onclick="window.location.href='/blog/page{{paginator.previous_page}}'">&lt;Previous</a></button>
        {% endif %}
    {% else %}
    <button type="button" class="btn btn-default" disabled="disabled">&lt;Previous</button>
    {% endif %}

    {% if paginator.page == 1 %}
    <button type="button" class="btn btn-info" disabled='disabled'>1</button>
    {% else %}
    <button type="button" class="btn btn-default" onclick="window.location.href='/blog'">1</button>
    {% endif %}

    {% for count in (2..paginator.total_pages) %}
    {% if count == paginator.page %}
    <button type="button" class="btn btn-info" disabled='disabled'>{{count}}</button>
    {% else %}
    <button type="button" class="btn btn-default" onclick="window.location.href='/blog/page{{count}}'">{{count}}</button>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <button class='btn btn-info' onclick="window.location.href='/blog/page{{paginator.next_page}}'">Next&gt;</a></button>
    {% else %}
    <button type="button" class="btn btn-default" disabled="disabled">Next&gt;</button>
    {% endif %}
    <button type="button" class="btn btn-info" disabled="disabled">Total {{ paginator.total_posts }} Posts</button>
</div>
