---
layout: default
---

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<link rel="stylesheet" href="/static/stylesheets/pygments.css">

<article>
    <header>
        <div class="page-header">
            <h1>{{ page.title }}</h1>
        </div>
        <div>
            <span class="date"><span class="glyphicon glyphicon-calendar"></span> <time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time></span> 
            <span class="categories"><span class="glyphicon glyphicon-tag"></span> 
            Categories in {% for cat in page.categories %}
            <a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>
            {% endfor %} tagged with 
            {% for tag in page.tags %}
            <a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
            {% endfor %}    
            </span> 
            <span class="author"> <span class="glyphicon glyphicon-user"></span> {% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif %}</span>
        </div> 
    </header>
    <br />
    <div class="entry">{{ content }}</div>
</article>

<div class='row'>
    <br />
    <div class='col-md-2'>
        <a href='http://creativecommons.org/licenses/by-nc-sa/2.5/'><img src="{{site.staticurl}}/images/icons/cc_byncsa.svg" class='img-responsive project-nailimg img-thumbnail ' alt='CC BY-NC-SA'></a>
    </div>
    <div class='col-md-10'>
        <p style='font-size: 0.85em;'>除特别标明外，本博客所有内容均为Data.Blog原创。<br/>本博客遵循署名-非商业性使用-相同方式共享 2.5 通用协议，转载请注明本文 <a href="{{ page.url }}">源地址</a> 与作者 <a href="{{ site.baseurl }}">{{ site.author }}</a>，感谢。</p>
    </div>

    <div class='col-md-12'>
        {% include comments.md %}
    </div>
</div>

